@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1e68ed;
  --secondary-color: #111835;
}

body {
  overflow-x: hidden;
}

.nav {
  @apply relative;
}

.nav::after {
  @apply content-[''] bg-primary-color h-[2px] w-0 absolute -bottom-[6px] duration-300;
}

.nav:hover::after {
  @apply w-full;
}

@keyframes slideLeftRight {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
