@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ff3839;
  --secondary-color: #202020;
}

body {
  overflow-x: hidden;
}

.nav {
  @apply relative;
}

.nav::after {
  @apply content-[''] bg-[#9fde0d] h-[2px] w-0 absolute -bottom-[6px] duration-300;
}

.nav:hover::after {
  @apply w-full;
}
